@page "/models/create/"
@using CarRentalManagement.Shared.Domain
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create new Models</h3>
<hr />
<br />

<EditForm Model="@model" OnValidSubmit="CreateModel">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<div class="form-group">
		<label>Name: </label>
		<div>
			<InputText @bind-Value="model.Name" class="form-control" />
			<ValidationMessage For="@(() => model.Name)" />
		</div>
	</div>

	<button type="submit" class="btn btn-success btn-block">
		Create Model
	</button>

</EditForm>
@code {
	Model model = new Model();

	private async Task CreateModel()
	{
		await _client.PostAsJsonAsync(Endpoints.ModelsEndpoint, model);
		_navManager.NavigateTo("/models");
	}

}
